{% extends "socialaccount/base.html" %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'assets/css/main.css'%}" />
		<link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css'%}">
        <link rel="shortcut icon" href="{%static 'images/favicon.ico'%}" type="image/x-icon">
		
{% endblock %}
{% block body %}
<body class="is-preload">
    <!-- Wrapper -->
        <div id="wrapper">

            <!-- Header -->
                <header id="header">
                    <div class="inner">

                        <!-- Logo -->
                            <a href="{% url 'home'%}" class="logo">
                                <span class="symbol"><img src="{% static 'images/logo.svg' %}" alt="" /></span><span class="title">CouchCart</span>
                            </a>

                        <!-- Nav -->
                            <nav>
                                <ul>
                                    <li><a href="#menu">Menu</a></li>
                                </ul>
                            </nav>

                    </div>
                </header>

            <!-- Menu -->
            <nav id="menu">
                <h2>Menu</h2>
                <ul>
                    <li><a href="{% url 'home'%}">Home</a></li>
                    <li><a href="{% url 'search'%}">Search</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Log Out</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>	
                    {% endif %}
                    <li><a href="{% url 'about' %}">About</a></li>
                </ul>
            </nav>
            <div id="main">
                <div class="inner">
                    <h1>Log In</h1>
                    <h3>Just a sec...</h3>
                    <div id = "scriptbois">
                        {% if messages %}
                        {% for message in messages%}
                            <strong style="color:#E8AA42"> {{message}}</strong>
                            <button onclick="closeButton()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        {%endfor%}
                        {%endif %} 
                    
                    </div>
                    <span class="image main"><img src="{% static 'images/login.jpg' %}" alt="" /></span>
                    {% block content %}
                    {% if process == "connect" %}
                    {% else %}
                    <h3>{% blocktrans with provider.name as provider %}Log In Via {{ provider }}{% endblocktrans %}</h3>

                    <p>{% blocktrans with provider.name as provider %}You are about to log in with {{ provider }}.{% endblocktrans %}</p>
                    {% endif %}

                    <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-primary">{% trans "Continue" %}</button>
                    </form>
                    {% endblock %}
                    </div>
                    </div>
            

<!-- Footer -->
<footer id="footer">
    <div class="inner">
        <section>
            <h2>Follow</h2>
            <ul class="icons">
                <li><a href="https://twitter.com/AyuShar21365283" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="https://www.linkedin.com/in/ayush-sharma-913a3025b/" class="icon brands style2 fa-linkedin"><span class="label">Linkedin</span></a></li>
                <li><a href="https://www.instagram.com/ayush_shar7/" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="https://github.com/LeAyush98" class="icon brands style2 fa-github"><span class="label">Github</span></a></li>     
            </ul>
        </section>
        <ul class="copyright">
            <li>&copy; Ayush Sharma. 2023, All rights reserved</li>
        </ul>
    </div>
</footer>

</div>

<!-- Scripts -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/browser.min.js' %}"></script>
<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
<script src="{% static 'assets/js/util.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
{% endblock %}

