<!DOCTYPE HTML>
{% extends 'authApp/base.html' %}
{% load static%}
{% load socialaccount %}
                
{% block content %}
<!-- Main -->
	<div id="main">
		<div class="inner">
			<h1>Register</h1>
			<h3>Consider joining us!</h3>
			<div id = "scriptbois">
				{% if messages %}
				{% for message in messages%}
					<strong style="color:#E8AA42"> {{message}}</strong>
					<button onclick="closeButton()">
						<span aria-hidden="true">&times;</span>
					</button>
				{%endfor%}
				{%endif %} 
			
				</div>
			<span class="image main"><img src="{% static 'images/registerr.jpg' %}" alt="" /></span>
			<form method = "POST">
                {% csrf_token %}
               {{form.as_p}}
                <button type="submit" class="btn btn-success">Register</button> 
            </form>
            <a href="{% provider_login_url 'google' %}?next=/" class="btn btn-outline-primary">Log In with Google</a>
		</div>
	</div>

{% endblock %}	
				