<!DOCTYPE HTML>
{% extends 'authApp/base.html' %}
{% load static%}

                
{% block content %}
<!-- Main -->
	<div id="main">
		<div class="inner">
			<h1>Billing Address</h1>
			<h3>Few more details please...</h3>
			<div id = "scriptbois">
				{% if messages %}
				{% for message in messages%}
					<strong style="color:#E8AA42"> {{message}}</strong>
					<button onclick="closeButton()">
						<span aria-hidden="true">&times;</span>
					</button>
				{%endfor%}
				{%endif %} 
			
				</div>
			<span class="image main"><img src="{% static 'images/billing.png' %}" alt="" /></span>
            <form action="{% url 'success' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <script
                    src="https://checkout.razorpay.com/v1/checkout.js"
                    data-key="{{KEY_ID}}" 
                    data-amount="{{amount}}" 
                    data-currency="INR"
                    data-order_id="{{payment.id}}"
                    data-buttontext="Checkout"
                    data-name="CouchCart"
                    data-description="One stop for all your beloved movies."
                    data-image="{% static 'images/favicon.jpg' %}"
                    data-prefill.name="{{user.first_name}}"
                    data-prefill.email="{{user.email}}"
                    data-theme.color="#E8AA42"
                ></script>
                <input type="hidden" custom="Hidden Element" name="hidden"/>
            </form>
		</div>
	</div>

{% endblock %}	
				