<!DOCTYPE HTML>
{% extends 'main/base.html' %}
{% load static%}

                
{% block content %}
<!-- Main -->
	<div id="main">
		<div class="inner">
			<h1>View Cart</h1>
			<h3>Someone has an amazing evening ahead :)</h3>
			<div id = "scriptbois">
				{% if messages %}
				{% for message in messages%}
					<strong style="color:#E8AA42"> {{message}}</strong>
					<button onclick="closeButton()">
						<span aria-hidden="true">&times;</span>
					</button>
				{%endfor%}
				{%endif %} 
			
				</div>
			<span class="image main"><img src="{% static 'images/cart.jpg' %}" alt="" /></span>
            {% if items_in_cart %}
            {% for item in items_in_cart %}
                <p>{{item.name}} - {{item.price}} INR </p>
            {% endfor %}
            <hr>
            <p>Total: {{total_price}} INR
            <br>
            <br>
            <form action="{% url 'success' %}" method="POST">
                <script
                    src="https://checkout.razorpay.com/v1/checkout.js"
                    data-key="{{KEY_ID}}" 
                    data-amount="{{amount}}" 
                    data-currency="INR"
                    data-order_id="{{payment.id}}"
                    data-buttontext="Pay with Razorpay"
                    data-name="CouchCart"
                    data-description="One stop for all your beloved movies."
                    data-image="{% static 'images/favicon.jpg' %}"
                    data-prefill.name="{{user.first_name}}"
                    data-prefill.email="{{user.email}}"
                    data-theme.color="#E8AA42"
                ></script>
                <input type="hidden" custom="Hidden Element" name="hidden"/>
                </form>
            {% else %}
                <p>Your cart is empty, {{user.username}}</p>
            {% endif %}
			 
		</div>
	</div>

{% endblock %}	
				