
    <div class="card" >
      
      <div class="front" style="background-image: url({% static 'images/pic01.gif' %})">
          <p class="large">movie ranking</p>
      </div>
      <div class="back">
        <div>
      <div class="title"><strong>movie name <span class="release_date">(movie year)</span></strong></div>
          <div class="rating">
              <label>movie rating</label>
            <i class="fas fa-star star"></i>
          </div>
        <div class="increase">
          <p class="overview">
          <strong>summary.</strong>
          </p>
        </div>
          <a href="#" class="button">Add to Cart</a>       
        </div>
      </div>
    </div>