<!DOCTYPE HTML>
{% extends 'main/base.html' %}
{% load static%}

                
{% block content %}
<!-- Main -->
	<div id="main">
		<div class="inner">
			<h1>Hi, I am Ayush!</h1>
			<h3>This is how I live my life.</h3>
			<div id = "scriptbois">
				{% if messages %}
				{% for message in messages%}
					<strong style="color:#E8AA42"> {{message}}</strong>
					<button onclick="closeButton()">
						<span aria-hidden="true">&times;</span>
					</button>
				{%endfor%}
				{%endif %} 
			
				</div>
			<span class="image main"><img src="{% static 'images/pic13.png' %}" alt="" /></span>
			<p>Greetings, fellow visitor to my CouchCart website! I am Ayush and I am a python/back-end developer.</p>
			<p>When I am not working on my projects, You can find me playing my guitar, singing songs and travelling around exploring new opportunities.</p>
			<p>Oh yes, I also run a personal blog!</p>
			<p>Hope you enjoy your time on my <a href="https://ayush-blog.onrender.com/">blog</a> and feel free to contact me to stay in touch! And yes, you can contribute stuff there yourself if you feel like :)</p>
		</div>
	</div>

{% endblock %}	
				